<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Submit PayForBlob Transaction</title>
    <link rel="stylesheet" href="/static/css/style.css" />
</head>

<header class="header">
    <div>
        <h1>Submit PFB Transaction </h1>
    </div>
</header>

<body>
    <form id="form" method="post">
        <div>
            <label for="data" style="color:rgb(27, 194, 110)">Please make sure your celestia node is available</label>
        </div>
        <div style="margin-top: 30px;">
            <div>
                <label>Gas limit</label>
                <input name="gas_limit" type="number" value="{{ gas_limit }}" min="1"
                    placeholder="Gas limit" required>
            </div>
            <div>
                <label>Fee</label>
                <input name="fee" type="number" value="{{ fee }}" min="1" placeholder="Fee"
                    required>
            </div>
            <div>
                <label for="data">data :</label>
                <input type="textarea" id="msg" name="msg" style="min-height: 100px;min-width: 300px;"
                    placeholder="Please type your data" required />
            </div>
        </div>
        <div>
            <button type="submit" id="submit">submit</button>
        </div>
    </form>
    <script src="/static/js/main.js"></script>
</body>
</html>