<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Submit PayForBlob Transaction</title>
    <link rel="stylesheet" href="/static/css/style.css" />
</head>

<header class="header">
    <div>
        <h1>Submit PFB Transaction </h1>
    </div>
</header>

<body>
    <form id="form" method="post">
        <div>
            <label for="data" style="color:rgb(27, 194, 110)">Please make sure your celestia node is available</label>
        </div>
        <div style="margin-top: 30px;">
            <div>
                <label>Gas limit</label>
                <input name="gas_limit" type="number" value="{{ gas_limit }}" min="1" placeholder="Gas limit" required>
            </div>
            <div>
                <label>Fee</label>
                <input name="fee" type="number" value="{{ fee }}" min="1" placeholder="Fee" required>
            </div>
            <div>
                <label for="message">message :</label>
                <input type="textarea" id="message" name="message" style="min-height: 100px;min-width: 300px;"
                    placeholder="Please type your message" required />
            </div>
        </div>
        <div>
            <button type="submit" id="submit">submit</button>
        </div>
    </form>
    <div id="transaction_result" class="result"></div>
    <div id="transaction_info" hidden>
        <div>
          <label>Height:</label>
          <span id="tx_info_height"></span>
        </div>
        <div>
          <label>TxHash:</label>
          <!-- https://testnet.mintscan.io/celestia-incentivized-testnet/txs/80D8DDF683EB6B49F430FF3C9758AD2DE7A9526B72229B965E8FEAA8A47CB134?height=389613 -->
          <span id="tx_info_tx_hash"></span>
        </div>
        <div>
          <label>Datetime:</label>
          <span id="tx_info_date"></span>
        </div>    
        <div>
          <label>Gas_used:</label>
          <span id="tx_info_gas_used"></span>
        </div>    
        <div>
          <label>namespace_id</label>
          <span id="tx_info_namespace_id"></span>
        </div>
      </div>
    <script src="/static/js/main.js"></script>
</body>

</html>